<form method = "post" action = "/articles/<%=@article.id%>">
<input id="hidden" type="hidden" name="_method" value="patch">

<input type="text" name="article[title]" value="<%=@article.title%>" id="title"/>Title
<input type="text" name="article[content]" value="<%=@article.content%>" id="content"/>Content

<input type="submit" value="Submit">
</form>